html, body {
	height: 100%;
}

body {
	font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
	color: #EFF3EE;
	text-transform: uppercase;
	margin: 0;
}
#map {
	height: 100%;
	z-index: 1;
}

#carDetailsForm {
	position: absolute;
	top: 50px;
/* 	left: 10%; */
 	width: 50%; 
	
	text-align: center;
	background: #4E5066;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
	background: -webkit-linear-gradient(top, #575e63, #3f4347);
	background: -moz-linear-gradient(top, #575e63, #3f4347);
	background: -ms-linear-gradient(top, #575e63, #3f4347);
	background: -o-linear-gradient(top, #575e63, #3f4347);
	opacity: 0.8;
	z-index: 2;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 5px; 
	-webkit-box-shadow : 0 0 2px rgba( 0, 0, 0, 0.2), 0 1px
	1px rgba( 0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba( 0, 0, 0, .2), 0 6px
	0 #fff, 0 7px 0 rgba( 0, 0, 0, .2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1),
		3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px
		0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0
		3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0
		rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px
		rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0
		#fff, 0 7px 0 rgba(0, 0, 0, .2);
}

#infoField {
    margin: 10px;
	float:left; 
/* 	border: 1px solid #ccc; */
}

#carDetailsForm a{	
	clear: both; 
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f),
		to(#ffb94b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3)
		inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	float: left;
/* 	height: 35px; */
	margin: 10px;
/* 	padding: 0; */
	width: 300px;
	text-decoration: none;
	
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
	opacity: 1;
}




/* #carDetailsForm h1{ */
/* 	color: white; */
/* } */
#languages {
	position: absolute;
	text-align: right;
	right: 20px;
	top: 10 px;
	z-index: 2;
}

#languages a {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 1px 0
		rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: right;
	color: #666;
	letter-spacing: 2px;
	font: normal 12px/1 Verdana, Helvetica;
}

#languages a:FOCUS {
	color: #202049;
}

#languages a:HOVER {
	color: #202049;
}

#languages a:AFTER {
	color: #666;
}

#inputDate{
/* 	border: 1px solid #ccc; */
	float:left;
	height: 250px;
	width: 400px;
	padding: 10px;
	
}

h1 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0
		rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #B5C7B1;
	margin: 0 0 30px 0;
	letter-spacing: 4px;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
}
h3{
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0
		rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #B5C7B1;
	letter-spacing: 4px;
	font: normal 14px/1 Verdana, Helvetica;
	position: relative;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

#inputs input {
	clear: both;
	padding: 10px;
	margin: 0 0 10px 0;
	width: 110px; /* 353 + 2 + 45 = 400 */
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
#action {
	color: #3151A2;
	width: 300px;
	margin-left: 60px;
	margin-right: 60px;	
}
#button{	
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f),
		to(#ffb94b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3)
		inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	float: left;
	margin: 10px;
	width: 120px;
	
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
	opacity: 1;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
	-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

#error {
	width: 353px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 1px 0
		rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #F36565;
	margin: 5px 0 5px 0;
	letter-spacing: 4px;
	font: normal 12px/1 Verdana, Helvetica;
	position: relative;
}


