#horizontalMenu{
	background: url(images/bg.png) repeat;
/* 	border: 1px solid #C0BBBB; */
	padding-right:50px;
	text-align: right;
}
#horizontalMenu ul li{
	display: inline;
	background: #575e63; 
	opacity: 0.6;
	border: 1px solid #C0BBBB;
	border-radius: 4px 4px 0 0;
}
#horizontalMenu ul li:HOVER{
	background: #566f82; /* fallback colour */
	opacity: 0.8;
}
#horizontalMenu ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    
}
