<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">false</property>
        <mapping resource="Location.hbm.xml" />
        <mapping resource="VehicleGroup.hbm.xml" />
        <mapping resource="Vehicle.hbm.xml" />
        <mapping resource="Terminal.hbm.xml" />
        <mapping resource="TerminalDate.hbm.xml" />
        <mapping resource="AgroFields.hbm.xml" />
        <mapping resource="GasTankPosition.hbm.xml" />
        <mapping resource="GasTank.hbm.xml" />
        <mapping resource="GasTankCalibrationData.hbm.xml" />
        <mapping resource="Emp.hbm.xml" />
        <mapping resource="AgroPay.hbm.xml" />
        <mapping resource="User.hbm.xml" />
        <mapping resource="UserAction.hbm.xml" />
        <mapping resource="AgroPayContract.hbm.xml" />
        <mapping resource="MapObjectField.hbm.xml" />
        <mapping resource="PayTest.hbm.xml" />
        <mapping resource="MapObjectFieldType.hbm.xml" />
        <mapping resource="TerminalDateDTO.hbm.xml" />
        <mapping resource="LocatedImageEntity.hbm.xml" />
        <mapping resource="LocatedImageInfoEntity.hbm.xml" />

    </session-factory>
</hibernate-configuration>