<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE hibernate-configuration PUBLIC
				"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
				"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
	<property name="show_sql">true</property>
	<mapping resource="com/ksgagro/gps/domain/Location.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/VehicleGroup.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/Vehicle.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/Terminal.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/TerminalDate.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/AgroFields.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/GasTankPosition.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/GasTank.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/GasTankCalibrationData.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/Emp.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/AgroPay.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/User.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/UserAction.hbm.xml" />
	<mapping resource="com/ksgagro/gps/domain/AgroPayContract.hbm.xml" />

</session-factory>
</hibernate-configuration>